@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"),
       url("../fonts/roboto-v20-latin_cyrillic-regular.woff2") format("woff2"),
       url("../fonts/roboto-v20-latin_cyrillic-regular.woff") format("woff");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('../fonts/roboto-v20-latin_cyrillic-500.woff2') format('woff2'),
       url('../fonts/roboto-v20-latin_cyrillic-500.woff') format('woff');
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"),
       url("../fonts/roboto-v20-latin_cyrillic-700.woff2") format("woff2"),
       url("../fonts/roboto-v20-latin_cyrillic-700.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

.main-navigation,
.slider-list,
.product-list,
.studio-description ul,
.clients-logo-list,
.filter-grid-list,
.filter-details-list,
.sample-list,
.social-list {
  list-style: none;
}


.content {
  width: 1160px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  outline: 2px dotted green;
}

/* это законный прием?*/
header,
main,
footer {
  margin: 0;
  padding: 1px;
}

/* styles for the header below */

.main-header {
  font-weight: 500;
  background-color: #eeeeee;
}

.navigation-container {
  display: flex;
  flex-wrap: wrap;
  width: 1160px;
  /*min-height: 65px;*/
  margin-left: auto;
  margin-right: auto;
  padding-top: 49px;

  outline: 4px dashed orange;
  outline-offset: 1px;
}

.main-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  width: 438px;
  justify-content: space-between;
}

.main-navigation a,
.main-navigation-cart {

  display: block;
  margin-bottom: 5px;

  padding-top: 26px;
  padding-bottom: 3px;
  border-bottom: 2px solid #eeeeee;

}

.main-navigation-cart {
  position: relative;
  margin-left: auto;
  padding-left: 50px;
}

.main-navigation-cart::before {
  content: "";

  position: absolute;
  top: 33px;
  left: 10px;

  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

}

.main-navigation .current {
  border-bottom: 2px solid #fb565a;
}

.main-navigation a[href]:hover,
.main-navigation-cart:hover,
.main-navigation a[href]:focus,
.main-navigation-cart:focus {
  color: #fb565a;

}
.main-navigation a[href]:active,
.main-navigation-cart:active {
  color: rgba(0, 0, 0, 0.3);
}

.logo {
  margin-right: 202px;
}

.logo:hover,
.logo:focus {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.3;
}



.main-navigation,
.main-navigation-cart {
  line-height: 30px;
  text-transform: uppercase;
}

/* slider */

.slider-list {
  padding: 0;
  margin: 0;
  max-width: 1160px;
}

.slider-list li {
  width: 1160px;
  outline: 2px dashed red;
}

.slide-caption h2 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slide-caption p {
  line-height: 24px;
  color: #283136;
}



/* main-page slyles below */

.product-list {
  display: flex;
  flex-wrap: wrap;
  width: 1160px;

  margin: 0;
  padding: 0;
}



.product-list li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 300px;
  margin-right: 100px;
}

.product-list h3 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 30px;

  margin: 0;
  padding: 0;
}

.product-item img {
  order: -1;
  margin-bottom: 25px;
}

.product-item h3 {
  margin-bottom: 19px;
}

.product-item:nth-child(3n) {
  margin-right: 0;
}

.product-description {
  color: #283136;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 30px;
  margin-right: 55px;
}

.studio-description {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.studio-description-intro {
  width: 650px;
}

.studio-description-intro h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.studio-description-intro p,
.work-we-do ul {
  color: #283136;
  line-height: 24px;
}

.work-we-do ul {
  margin: 0;
  padding: 0;
  padding-left: 27px;
}

.work-we-do li {
  position: relative;
}

.work-we-do li::before {
  content:"";
  position: absolute;
  top: 10px;
  left: -28px;

  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.work-we-do p,
.studio-figures p {
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.studio-figures p {
  text-align: center;
}

.studio-figures ul {
  display: flex;
  flex-wrap: wrap;
  width: 360px;
  justify-content: space-between;
  color: #283136;
}

.studio-figures li {
  width: 120px;
}

.figures-bold {
  color: #000000;
  font-size: 45px;
  line-height: 10px;
  font-weight: 700;
}

.figures-super {
  font-size: 28px;
  vertical-align: super;
}

.clients-logo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;

  margin: 0;
  padding: 0;
}

.clients-logo-list img {
  opacity: 0.2;
}

.clients-logo-list img:hover,
.clients-logo-list img:focus {
  opacity: 1;
}

.clients-logo-list img:active {
  opacity: 0.1;
}

/* footer styles below */
.write-us {
  display: none;
  position: fixed;
  bottom: 180px;
  right: 50%;

  margin-right: -480px;

  color: inherit;
  background-color: #ffffff;
  box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);

  width: 760px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 67px;
  padding-bottom: 84px;
}


.modal-close {
  content: "";
  position: absolute;
  cursor: pointer;
  top: 78px;
  right: 90px;

  width: 21px;
  height: 21px;


  background-color: #ffffff;
  background-image: url("../img/close-cross.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;

  border: 0;
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.1;
}

.write-us h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;

  margin: 0;
  margin-bottom: 41px;

}

.input-fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 760px;
}

.input-fields p {
  display: flex;
  flex-direction: column;

  margin: 0;
}

.input-fields label {
  font-weight: 700;
  margin-bottom: 10px;
}

.input-fields input,
.input-fields textarea {
  font-family: "Roboto", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #000000;

  margin-bottom: 32px;
}

.input-fields input {
  box-sizing: border-box;
  width: 360px;
  min-height: 50px;
  padding: 14px;
  border: 2px solid #d7dcde;
}

.input-fields textarea {
  box-sizing: border-box;
  width: 760px;
  height: 114px;
  padding: 14px;
  resize: none;
  border: 2px solid #d7dcde;
}

.input-fields input:hover,
.input-fields textarea:hover {
  border: 2px solid #b4b9bb;
}

.input-fields input:focus,
.input-fields textarea:focus {
  border: 2px solid #000000;
}

.input-fields input:focus::placeholder,
.input-fields textarea:focus::placeholder {
  color: #444444;
}

.input-fields input:invalid {
  border: 2px solid #e74246;
}

.input-fields input:invalid::placeholder {
  color: #e74246;
}

.input-fields input::placeholder,
.input-fields textarea::placeholder {
  font-family: "Roboto", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;

  color: rgba(68, 68, 68, 0.5);
  opacity: 1;
}




.footer-bottom {
  display: flex;
  width: 1160px;
  padding-bottom: 79px;

  outline: 3px solid red;
}



.let-us,
.discount,
.social-list {
  margin: 0;
  padding: 0;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;

  min-width: 261px; /* why is min-width working better than width here?...*/
  margin-right: 139px;
}

.social-list li {
  margin-right: 12px;
  padding-bottom: 12px;
}

.social-list li:nth-child(3n) {
  margin: 0;
}

.let-us {
  padding-top: 7px;
  padding-bottom: 10px;
}

/* styles for catalog page below */

.filter-catalog-wrapper {
  display: flex;
  width: 1160px;

  justify-content: space-between;

  outline: 4px dashed green;
  outline-offset: 3px;
}

.sample-filter {
  width: 260px;
  outline: 3px solid orange;
}


.filter-grid {
  margin-bottom: 26px;
}

.filter-details {
  margin-bottom: 30px;
}

.sample-list {
  display: flex;
  flex-wrap: wrap;
  width: 760px;

  justify-content: space-between;
  outline: 3px solid red;

  margin: 0;
  padding: 0;
}


.sample-item {
  position: relative;

  width: 360px;
  margin-bottom: 33px;
  padding-top: 40px;

  outline: 2px dashed orange;
}

.sample-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  background-image: url("../img/browser.svg");
  width: 360px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.12;
}

.sample-item:hover::before {
  opacity: 1;
}


.filter-grid-list,
 .filter-details-list {
  margin: 0;
  padding: 0;
}



/* ALL of the buttons below*/

.button {
  font: inherit;
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

.button.grey {
  color: inherit;
  background-color: #eeeeee;
}

a.button {
  display: inline-block;
  vertical-align: top;
  cursor: default;
}

.button.red {
  background-color: #fb565a;
}

.button.red:hover,
.button.red:focus {
  background-color: #e74246;
}

.button.red:active {
  background-color: #d7373b;
}

.button.grey:hover,
.button.grey:focus {
  background-color: #dfdfdf;
}

.button.grey:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.product-button {
  padding-top: 17px;
  padding-bottom: 15px;
  padding-left: 39px;
  padding-right: 39px;
}

.product-button:active {
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.product-button.green {
  background-color: #00ca74;
}

.product-button.green:hover,
.product-button.green:focus {
  background-color: #00bc6c;
}

.product-button.green:active {
  background-color: #00aa62;
}

.product-button.yellow {
  background-color: #efc84a;
}

.product-button.yellow:hover,
.product-button-pres:focus {
  background-color: #eab534;
}

.product-button.yellow:active {
  background-color: #e5a722;
}

.button-show {
  width: 260px;
  min-height: 50px;
  border: none;
}

.button-show:active {
  outline: 0;
}

.button-send {
  width: 260px;
  min-height: 50px;
  border: none;
}

.button-send:active {
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  outline: 0;
}

.know-more {
  padding-left: 54px;
  padding-right: 54px;
  padding-top: 17px;
  padding-bottom: 15px;
}

.know-more:active {
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.social-button {
  cursor: default;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 79px;
  height: 79px;
  background-color: #eeeeee;
  border-radius: 50%;
}

  .social-button:hover,
  .social-button:focus {
    background-color: #e74246;
  }

  .social-button:active {
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
    background-color: #d7373b;
  }

  .social-button:active img {
    opacity: 0.3;
  }

  .social-button:active path {
    opacity: 0.3;
  }

.catalog-main-title {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

/* Form styles below*/

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.filter-grid legend,
.filter-details legend {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.filter-option label {
  line-height: 20px;
  color: #283136;
}

.filter-option {
  padding-left: 37px;
}

.filter-option label {
  position: relative;
  display: block;
  user-select: none;

  margin-bottom: 20px;
}

.radio + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -35px;
  width: 25px;
  height: 25px;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.4;
}

/* выбор между доступностью и соответствием стайлгайду: */
.radio + label:hover::before,
.radio:focus + label::before {
  opacity: 1;
}


.radio:checked + label::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -35px;
  width: 25px;
  height: 25px;

  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.radio:checked + label:hover::after,
.radio:checked:focus + label::after {
  opacity: 1;
}

.radio:checked + label::before,
.checkbox:checked + label::before {
  opacity: 0;
}


.radio:disabled + label::before,
.checkbox:disabled + label::before,
.radio:checked:disabled + label::after,
.checkbox:checked:disabled + label::after,
.radio:checked:disabled + label::before,
.checkbox:checked:disabled + label::before {
  opacity: 0.1;
}

.radio:checked:disabled:hover + label::after,
.checkbox:checked:disabled:hover + label::after,
.checkbox:disabled:hover + label::before,
.radio:disabled:hover + label::before {
  opacity: 0.1;
}


.radio:disabled + label,
.checkbox:disabled + label {
  color: rgba(40, 49, 54, 0.3);
}



.checkbox + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -2px;
  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.checkbox:checked + label::before {
  opacity: 0;
}

.checkbox + label:hover::before,
.checkbox:focus + label::before {
  opacity: 1;
}

.checkbox:checked + label::after {
  content: "";
  position: absolute;
  left: -35px;
  top: -2px;
  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.checkbox:checked + label:hover::after,
.checkbox:checked:focus + label::after {
  opacity: 1;
}

.sample-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  text-align: center;
  background-color: #eeeeee;
  width: 360px;
  min-height: 231px;
}

.sample-name {
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;

  margin-top: 12px;
  margin-bottom: 2px;
  padding-bottom: 15px;
  padding-top: 15px;
  }

.sample-name:hover,
.sample-name:focus {
  color: #fb565a;
}

.sample-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.sample-description {
  color: #666666;

  margin-top: 0;
  margin-left: 65px;
  margin-right: 65px;
  margin-bottom: 28px;
  padding: 0;

}

.sample-price {
  cursor: default;
  display: inline-block;
  vertical-align: top;

  margin-top: auto;
  margin-bottom: 30px;
  padding-left: 62px;
  padding-right: 60px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fb565a;
}

.sample-price:hover,
.sample-price:focus {
  background-color: #e74246;
}

.sample-price:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

.let-us {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
}

.discount {
  color: #444444;
  line-height: 22px;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
