@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"),
       url("../fonts/roboto-v20-latin_cyrillic-regular.woff2") format("woff2"),
       url("../fonts/roboto-v20-latin_cyrillic-regular.woff") format("woff");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('../fonts/roboto-v20-latin_cyrillic-500.woff2') format('woff2'),
       url('../fonts/roboto-v20-latin_cyrillic-500.woff') format('woff');
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"),
       url("../fonts/roboto-v20-latin_cyrillic-700.woff2") format("woff2"),
       url("../fonts/roboto-v20-latin_cyrillic-700.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

.main-navigation,
.product-list,
.filter-grid-list,
.filter-details-list,
.sample-list,
.social-list {
  list-style: none;
}

.content {
  width: 1160px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  outline: 2px dotted green;
}

/* styles for the header below */

.main-header {
  font-weight: 500;
  background-color: #eeeeee;
}

.navigation-container {
  display: flex;
  flex-wrap: wrap;
  width: 1160px;
  /*min-height: 65px;*/
  margin-left: auto;
  margin-right: auto;
  padding-top: 49px;

  outline: 4px dashed orange;
  outline-offset: 1px;
}

.main-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  width: 482px;  /*434+48 */

}

.main-navigation a,
.main-navigation-cart {

  display: block;
  margin-bottom: 4px; /* 18= 12+4+2*/
  padding-top: 34px;
  padding-bottom: 12px;
  border-bottom: 2px solid #eeeeee;

}

.main-navigation-cart {
  position: relative;
  margin-left: auto;
}

.nav-studio {
  margin-right: 47px;
}
.nav-clients {
  margin-right: 48px;
}
.nav-shop {
  margin-right: 45px;
}

/* .main-navigation .current {
  border-bottom: 2px solid #fb565a;
} */

.main-navigation a[href]:hover,
.main-navigation-cart:hover,
.main-navigation a[href]:focus,
.main-navigation-cart:focus {
  color: #fb565a;

}
.main-navigation a[href]:active,
.main-navigation-cart:active {
  color: rgba(0, 0, 0, 0.3);
}

.logo {
  margin-right: 202px;
}

.logo:hover,
.logo:focus {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.3;
}



.main-navigation,
.main-navigation-cart {
  line-height: 30px;
  text-transform: uppercase;
}


/* main-page slyles below */

.product-list {
  display: flex;
  flex-wrap: wrap;
  width: 1160px;
  /*min-height: 366px;*/

  margin: 0;
  padding: 0;

  outline: 3px solid red;

}

.product-list li {
  width: 300px;
  margin-right: 100px;
}

.product-item:nth-child(3n+0) {
  margin-right: 0;
}


/* footer styles below */

.footer-bottom {
  display: flex;
  width: 1160px;
  /*min-height: 79px;*/

  outline: 3px solid red;
}

.let-us,
.discount,
.social-list {
  margin: 0;
  padding: 0;
}

/* styles for catalog page below */

.filter-catalog-wrapper {
  display: flex;
  width: 1160px;

  justify-content: space-between;

  outline: 4px dashed green;
  outline-offset: 3px;
}

.sample-filter {
  width: 260px;
  outline: 3px solid orange;
}


.filter-grid {
  margin-bottom: 51px;
}

.filter-details {
  margin-bottom: 48px;
}

.sample-list {
  display: flex;
  flex-wrap: wrap;
  width: 760px;
  /*min-height: 1928px;*/

  justify-content: space-between;
  outline: 3px solid red;

  margin: 0;
  padding: 0;
}


.sample-item {
  width: 360px;
  /*margin-bottom: 40px; */
  margin-bottom: 33px;
  padding-top: 40px;

  outline: 2px dashed orange;
}



.filter-grid-list,
 .filter-details-list {
  margin: 0;
  padding: 0;
}

.product-list h3 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 30px;

}

[class*="button"] {
  font: inherit;
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

[class*="button-grey"] {
  color: inherit;
}

.quasi-button-sites {
  background-color: #fb565a;
}

.quasi-button-sites:hover,
.quasi-button-sites:focus {
  background-color: #e74246;
}

.quasi-button-sites:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

.quasi-button-apps {
  background-color: #00ca74;
}

.quasi-button-apps:hover,
.quasi-button-apps:focus {
  background-color: #00bc6c;
}

.quasi-button-apps:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #00aa62;
}

.quasi-button-pres {
  background-color: #efc84a;
}

.quasi-button-pres:hover,
.quasi-button-pres:focus {
  background-color: #eab534;
}

.quasi-button-pres:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #e5a722;
}

.catalog-main-title {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.filter-grid legend,
.filter-details legend {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-grid label,
.filter-details label {
  line-height: 20px;
  color: #283136;
}

.button-grey-show {
  width: 260px;
  min-height: 50px;
  background-color: #eeeeee;
  border: none;
}

.button-grey-show:hover,
.button-grey-show:focus {
  background-color: #dfdfdf;
}
.button-grey-show:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
  outline: 0;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}
.sample-list p {
  text-align: center;
  background-color: #eeeeee;
  width: 360px;
}

.sample-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  }

.sample-name:hover,
.sample-name:focus {
  color: #fb565a;
}

.sample-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.sample-description {
  color: #666666;
}

.sample-price {
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fb565a;
}

.sample-price:hover,
.sample-price:focus {
  background-color: #e74246;
}

.sample-price:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

.let-us {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
}

.discount {
  color: #444444;
  line-height: 22px;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
